/*header*/

.row .header {
    width: 100%;
    position: relative;
}

.container-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.content-login {
    display: flex;
    flex-direction: column;
    margin: auto;
}