/* * {
    border: 1px solid #000;
} */
.all {
    margin: 50px;
    padding: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 17vh;
}

.content  {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}

.principal-buttom a {
    border-radius: 100px;
    background: #17b4fd;
    padding: 12px 20px;
    margin: 90px;
    color: #fff;
}

.info {
    width: 90vh;
    background: #f6f8f9;
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
    box-shadow: 5px 10px 10px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
}

.info div h1 {
    text-align: center;
    font-size: 35px;
    text-shadow: 2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196),
                2px -2px 2px rgb(196, 196, 196);
    padding: 17px;

}

.after-btn-next {
    background: #000;
    display: flex;
    text-align: center;
}

.siguiente {
    background: #1ab302;
    width: 50%;
    padding: 15px 0;
    color: #fff;
}

.after-btn-next input {
    background: #1ab302;
    width: 50%;
    padding: 15px 0;
    color: #fff;
    border: none;
}

.after-btn-next input:hover {
    background: #26b748;
    color: #fff;
}


.cancelar {
    background: #ce2406;
    width: 50%;
    padding: 15px 0;
    color: #fff;
}


.siguiente:hover {
    background: #26b748;
    color: #fff;
}

.cancelar:hover {
    background: tomato;
    color: #fff;
}


.content-inp {
    margin: auto;
    margin-bottom: 20px;
}

.inputs {
    width: 60vh;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #868484;
}

.inputs:focus {
    border: 1px solid #17b4fd;
}

.content-step {
    display: flex;
    background-color: #9e9e9d;
    width: 70%;
}

.step-current {
    background: #eee;
    box-shadow: 5px -5px 10px rgba(0,0,0,0.6);
}

.content-step div {
    padding: 15px 25px;
}

.content-shows {
    display: none;
    opacity: 0;
}

.content-shows:target {
    display: block;
    opacity: 1;
    margin-bottom: 20px;
}

.content-artist {
    display: none;
    opacity: 0;
}

.content-artist:target {
    display: block;
    opacity: 1;
    background: #fff;
}

.content-venue {
    display: none;
    opacity: 0;
}

.content-venue:target {
    display: block;
    opacity: 1;
    background: #fff;
}

b {
    color: red;
}